h1 {
  font-size: 3rem;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 100%;
  padding: 2em;
}

.header-image {
  max-width: 400px;
}

.advert-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 80%;
}

.answers-container {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.questions-container {
  padding: 2em;
}

.results-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 80%;
  padding: 2em;
  height: 500px;
}
